project
.bsp
target
Spark-The-Definitive-Guide
src/main/resources/data
pyspark/data
spark-3.2.0-bin-hadoop3.2
spark-3.2.0-bin-hadoop3.2.tgz
checkpoint
kafka-3.2.0-src
kafka-3.2.0-src.tgz
warehouse
hive-warehouse
iceberg-warehouse
hudi-warehouse
derby.log
metastore_db
hadoop-3.3.4.tar.gz
hadoop-3.3.4
apache-hive-3.1.3-bin.tar.gz
apache-hive-3.1.3-bin
avro-tools-1.11.1.jar
hadoop/hdfs